.bg{
    height: 500px;
    /*height vem do ingles e significa altura*/
    width: 100%;
    background-image: url(./images3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;


}
body{
    background-color: rgb(33, 155, 226);
}

.title{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    
}

p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 10px;
    align-items: center;
    padding-bottom: 10px;

}

li{
    list-style-type: none;
    padding: 10px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    align-items: center;
    transition: background-color 0.3s;
}


    
   
    
   




.dexter{
    color: #ffffff;
    font-size: 35px;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

#textovideo{
    display: flex;
    align-items: justify;
    font-size: 20px;
}

#texto{
    font-size: 20px;
    padding: 10px;
    text-align: center
    
    
}

#carossel{
    background-color:rgb(33, 155, 226) ;
   
    padding: 50px 0;
    
    text-align: center;
    
}

#play{
    color: rgb(0, 0, 0);
}

#cards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
}


.card{
    margin-left: 50px;

}

#setaesquerda{
    display: none;

}

#Bruna{
    display: none;
}



.seta{
    margin-top: 50%;
    cursor: pointer;

}

.seta:hover{
    transform: translateX(7px);
    transform: rotate3d(5px);
    transition: 0.5s;

}

#link1{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-items:end;
    /* Adicionando efeito de transiÃ§Ã��o */
    
    &:hover {
        background-color: blue;
    }
    /* Adicionando efeito de hover */
    /* Adicionando estilo para o link1 */

}

